.section {
  margin: 5vh 0;
}
.header {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color: #6b90dc;
}
.h1 {
  padding-bottom: 20px;
}
.formContainer {
  text-align: center;
  height: 15rem;
  width: 25rem;
  margin: auto;
  border: solid 1px #dadada;
  border-radius: 10px;
  padding: 20px 0;
}
.form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: auto;
  height: 40%;
  width: 85%;
  border: solid 1px #dadada;
  border-radius: 5px;
  position: relative;
}
.text {
  position: absolute;
  top: -2rem;
  color: #dadada;
}
.input {
  height: 100%;
  border: none;
  background: transparent;
}
.input:first-child {
  border-bottom: solid 1px #dadada;
}
.btn {
  height: 20%;
  width: 85%;
  margin: auto;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  background-color: #6b90dc;
}
