.myOrder {
  width: 100%;
  color: #606e89;
  padding-bottom: 50px;
}
.h2 {
  color: black;
  font-weight: 600;
  font-size: 13px;
}
.list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
}
.left {
  display: flex;
}
.img {
  width: 80px;
  height: 100px;
  margin-right: 30px;
}
.text {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: small;
  padding: 8px 0;
}
.title {
  font-size: 15px;
  font: 400;
  color: black;
  line-height: 120%;
}
.description {
  color: #48566e;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.button {
  width: 60px;
  height: 28px;
  background-color: #48566e;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 12px;
  border-radius: 5px;
}
.button:hover {
  background-color: rgba(245, 245, 245, 0.663);
  color: #48566e;
  transition: 0.3s;
}
