.wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.modal {
  width: 35vw;
  border-radius: 20px;
  background-color: whitesmoke;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}
.modalHeader {
  display: flex;
  justify-content: space-between;
  height: 10%;
  align-items: center;
  margin-bottom: 20px;
}
.modalHeader .headTitle {
  font-weight: 700;
  font-size: 20px;
  color: #182a4d;
  margin-bottom: 20px;
}
.modalBody {
  height: 90%;
  display: flex;
  flex-direction: column;
}
.modalBody li {
  display: flex;
  margin-top: 5px;
  align-items: center;
  position: relative;
  min-height: 20px;
  font-size: 13px;
}
.modalBody li .listName {
  width: 15%;
  font-size: 15px;
  font-weight: 600;
  margin-right: 10px;
}
.modalFooter {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.AiFillCloseCircle {
  color: #182a4d;
  font-size: 30px;
}
