.card {
  display: grid;
  grid-template-columns: 30px 90px auto 100px 100px;
  gap: 15px;
  box-sizing: border-box;
  padding: 10px 15px;
  border: 2px solid var(--color-light-gray2);
  border-top: none;
  color: #32353d;
}
.tableHeader {
  align-items: center;
  font-size: 12px;
  border: 2px solid var(--color-light-gray2);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #f9fbfc;
  color: #7a808c;
  padding: 13px 15px;
}
.tableFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #7a808c;
  font-size: 14px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.tableFooter .btn {
  border: 2px solid var(--color-light-gray2);
  padding: 10px 15px;
  margin: 0 20px;
  border-radius: 5px;
  cursor: pointer;
}
/* 아래는 기존*/
/* 카드 */
.card > div {
  /* display: flex;
  align-items: center;*/
  /* background-color: green; */
}
.card .select {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .user {
  gap: 10px;
  padding: 5px 0;
  display: flex;
  align-items: center;
}
.card .user .profileImg {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid var(--color-blue);
}
.card .user div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card .user div .displayName {
  font-size: 14px;
}
.card .user div .email {
  font-size: 11px;
  font-weight: 400;
  color: gray;
}
.card .price {
  display: flex;
  align-items: center;
}
.card .price span {
  background-color: var(--color-light-gray2);
  color: var(--color-dark-gray2);
  border-radius: 50px;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: 500;
  text-decoration-line: line-through;
}

.card .price span.done {
  background-color: var(--color-light-green);
  color: var(--color-dark-green);
  text-decoration-line: none;
}

.card .product {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 14px;
  overflow: hidden;
  align-items: center;
}
.card .product .texts {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.card .product .thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 3px;
  border: 1px solid var(--color-dark-gray2);
}
.card .product .thumbnail.isSoldOut {
}
.card .product .id {
  font-size: 8px;
  color: var(--color-light-grey);
}
.card .product .title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  color: var(--color-dark-gray);
}
.card .product .tags {
  display: flex;
  gap: 5px;
}
.card .product .tags .tag {
  /* border: 1px solid red; */
  font-size: 8px;
  color: var(--color-blue);
  border: 0.5px solid var(--color-blue);
  padding: 2px 5px;
}
.card .soldOut {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2px;
}
.card .soldOut > div {
  display: flex;
  align-items: center;
  font-size: 10px;
  border-radius: 50px;
  padding: 3px 10px;
  color: var(--color-light-grey);
  border: 1px dashed var(--color-light-grey);
  gap: 5px;
  cursor: pointer;
}
.card .soldOut > div:hover {
  background-color: var(--color-dark-gray2);
  color: var(--color-light-gray2);
  border: 1px solid var(--color-dark-gray2);
}
.card .soldOut .active {
  background-color: var(--color-light-gray2);
  color: var(--color-dark-gray2);
  border: 1px solid var(--color-dark-gray2);
}

.card .bank {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 15px;
  justify-content: center;
  gap: 3px;
  position: relative;
}

.card .bank .bankName {
  display: flex;
  border: 1px solid red;
}
.card .bank .accountNumber {
  color: var(--color-light-grey1);
  font-size: 12px;
  font-weight: 300;
}
.card .bank .bankIcon:nth-child(1) {
  left: -40%;
  filter: blur(10px);
  -webkit-filter: blur(10px);
}
.card .bank .bankIcon:nth-child(2) {
  left: -50%;
}
.card .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 20px;
}
.card .icons .delete,
.card .icons .edit {
  cursor: pointer;
  color: var(--color-dark-gray2);
}
