.grid button {
  font-size: 0;
  position: relative;
  width: 27px;
  height: 27px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  vertical-align: top;
  cursor: pointer;
}
.grid button::after {
  content: '';
  display: inline-block;
  width: 11px;
  height: 11px;
}
.grid_select button {
  font-size: 0;
  width: 27px;
  height: 27px;
  border: 1px solid #6b90dc;
  vertical-align: top;
  background-color: #6b90dc;
  cursor: pointer;
}
.grid_select button::after {
  content: '';
  display: inline-block;
  width: 11px;
  height: 11px;
}

.grid .list_btn::after {
  background: url('../../../assets/image/spSs_icon_svg.svg') no-repeat -217px -235px;
}
.grid_select .list_btn::after {
  background: url('../../../assets/image/spSs_icon_svg.svg') no-repeat -236px -235px;
}

.grid .image_btn::after {
  background: url('../../../assets/image/spSs_icon_svg.svg') no-repeat -179px -235px;
}
.grid_select .image_btn::after {
  background: url('../../../assets/image/spSs_icon_svg.svg') no-repeat -198px -235px;
}

.grid .bigImage_btn::after {
  background: url('../../../assets/image/spSs_icon_svg.svg') no-repeat -103px -235px;
}
.grid_select .bigImage_btn::after {
  background: url('../../../assets/image/spSs_icon_svg.svg') no-repeat -122px -235px;
}

.grid .gallery_btn::after {
  background: url('../../../assets/image/spSs_icon_svg.svg') no-repeat -141px -235px;
}
.grid_select .gallery_btn::after {
  background: url('../../../assets/image/spSs_icon_svg.svg') no-repeat -160px -235px;
}
