.wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal {
  background-color: none;
  width: auto;
  gap: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item {
  width: 15px;
  background-color: white;
}
