.body {
  background-color: #f4f4f4;
  width: 100%;
  height: 100%;
  padding: 100px 0;
}

.wrap {
  width: 1100px;
  margin: auto;
}
.wrap h1 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
}

.main {
  padding: 30px 0;
}

/* 주문 내역 */
.infos {
  width: 100%;
  margin: auto;
  border: 1px solid rgba(128, 128, 128, 0.356);
  border-radius: 10px;
}
.infos caption {
  font-size: 0;
}
.infos table {
  width: 100%;
}

.infoHead {
  border-bottom: 1px solid rgba(128, 128, 128, 0.164);
}
.infoHead tr th {
  padding: 20px 0;
  font-size: 14px;
}

.infoBody {
  background-color: white;
}

.infoBody tr td {
  text-align: center;
  vertical-align: middle;
}
.productInfos td {
  font-size: 13px;
}
.productInfo {
  padding: 30px 0;
  padding-left: 30px;
  display: flex;
  align-items: center;
}
.productInfo img {
  width: 100px;
  border-radius: 50%;
  cursor: pointer;
}
.productTitle {
  text-align: left;
  padding-left: 30px;
}

.productTitle p {
  font-size: 12px;
  line-height: 20px;
}
.productTitle strong {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}
.productTitle strong:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* 배송지정보, 주문자정보 */
.infosBottom {
  width: 100%;
  margin: auto;
  border: 1px solid rgba(128, 128, 128, 0.356);
  border-radius: 10px;
}
