.main {
  background-color: #ffffff;
  padding: 100px;
  display: flex;
  justify-content: center;
  gap: 3vw;
}
.h2 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
.left {
  background-color: #33435e;
  width: 15vw;
  min-width: fit-content;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.profile {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 5px;
}
.name {
  font-size: large;
  color: white;
}
.email {
  margin-bottom: 10px;
  color: white;
}
.money {
  justify-items: flex-start;
}
.number {
  font-size: 30px;
  font-weight: 600;
}
.button {
  padding: 10px;
  background-color: #f5f6f7;
  border: none;
  opacity: 0.5;
  cursor: pointer;
}
.right {
  width: 40vw;
  background-color: #edeff2;
  color: #606e89;
}
