.wrap {
  width: 1280px;
  margin: 100px auto;
}

.none {
  width: fit-content;
  margin: auto;
}

.head {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}
.head h1 {
  font-size: 30px;
  font-weight: bold;
  margin-right: 20px;
}

.select {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* 그리드 정렬 */
.image_items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}
.bigImage_items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.gallery_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* 그리드 선택 버튼 */
.gridWrap {
  display: flex;
}
