.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);
  cursor: pointer;
}
.container {
  display: flex;
  align-items: center;
  padding-right: 100px;
}
.img {
  width: 170px;
  height: 170px;
  margin-right: 30px;
}
.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.price {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
.description {
  font-size: 12px;
  color: gray;
  line-height: 20px;
}
.btn_heart {
  outline: none;
  border: none;
  background-image: url('../../imgs/spSs_icon_svg.svg');
  background-repeat: no-repeat;
  background-position: -111px -188px;
  background-color: white;
  width: 37px;
  height: 37px;
  font-size: 0;
  border-radius: 50px;
  margin-right: 20px;
  cursor: pointer;
}
.btn_heart__red {
  outline: none;
  border: none;
  background-image: url('../../imgs/spSs_icon_svg.svg');
  background-repeat: no-repeat;
  background-position: -156px -188px;
  background-color: white;
  width: 37px;
  height: 37px;
  font-size: 0;
  border-radius: 50px;
  margin-right: 20px;
  cursor: pointer;
}
