.item,
.soldout {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  border-bottom: 1px solid var(--color-light-grey);
}

.soldout {
  width: 100%;
  height: 100%;
  background-color: rgba(77, 77, 77, 0.5);
  opacity: 0.5;
  filter: brightness(70%);
}

.itme__info {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-right: 1px solid var(--color-light-grey);
}

.itme__info .checkbox {
  margin-right: 1rem;
}

.item__desciption {
  display: flex;
  align-items: center;
  flex-basis: 100%;
}

.itme__info .image {
  width: 6rem;
  border-radius: 5px;
  margin-right: 1rem;
}

.itme__info .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
}

.itme__info .cartInfo {
}

.itme__info .title,
.itme__info .price {
  font-weight: bold;
}

.itme__info .title {
  margin-bottom: 0.5rem;
  flex-basis: 100%;
}

.itme__info .deleteBtn {
  cursor: pointer;
  color: var(--color-light-grey);
}

.itme__info .deleteBtn:hover {
  transform: scale(1.05);
}

.updateItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 6rem;
  border-right: 1px solid var(--color-light-grey);
  flex-basis: 100%;
}

.updateItem .icons {
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  font-size: 1.5rem;
  color: var(--color-light-grey);
}

.updateItem .icons:hover {
  transform: scale(1.05);
}

.updateItem .quantity {
  padding: 0 1rem;
}

.priceSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.priceText {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--color-dark-gray);
}

.totalPrice {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
