.wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 500px;
  height: 600px;
  border-radius: 20px;

  background-color: whitesmoke;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  height: 10%;
  align-items: center;
  margin-bottom: 20px;
}
.modalHeader .headTitle {
  font-weight: 700;
  font-size: 40px;
  color: #182a4d;
}
.modalBody {
  height: 90%;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
}
.modalBody .inputs {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modalBody .inputs li {
  display: flex;
  /* border: 3px solid black; */
  margin-top: 10px;
  align-items: center;
  position: relative;
  min-height: 30px;
}
.modalBody .inputs li .errorMessage {
  color: orangered;
  font-weight: 600;
  font-size: 12px;
  position: absolute;
  right: 0;
}
.modalBody .inputs li .listName {
  font-size: 14px;

  width: 15%;
}
.modalBody .inputs li:nth-child(1) .listName,
.modalBody .inputs li:nth-child(2) .listName {
  font-weight: 700;
}
.modalBody .inputs li input {
  /* width: 60%; */
  /* border: 2px solid orange; */
  /* width: 100%; */
}
.modalBody .inputs li input[type='text'] {
  width: 80%;
}

.modalBody .inputs li:nth-child(3) textarea {
  height: 100px;
  width: 80%;
  /* display: none; */
}
.modalFooter {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.preview {
  width: 140px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  right: 0;
  margin-left: 10px;
  border: 1px solid #ccc;
}

.btn {
  border: none;
  width: 50px;
  height: 30px;
  border-radius: 10px;
  background-color: #2196f3;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background-color: #0e436c;
}

.AiFillCloseCircle {
  color: #182a4d;
  font-size: 35px;
}
