.item {
  display: flex;
  border-bottom: 1px solid gray;
  align-items: center;
  justify-content: space-between;
  color: #666;
}
.item .left {
  display: flex;
  align-items: center;
}
.index {
  margin: 10px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  margin: 10px;
  object-fit: cover;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.81);
  box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.81);
}

.title {
  margin-left: 30px;
  font-size: 20px;
  font-weight: 700;
}
.tags {
  margin-left: 10px;
  display: flex;
  align-items: flex-end;
}
.tags .tag {
  margin-left: 5px;
  color: #ccc;
}
.btn {
  border: none;
  box-sizing: border-box;
  margin: 5px;
  padding: 4px 12px;
  font-size: 12px;
  background: #82c8a0;
  font-family: 'Lato', sans-serif;
  color: white;
  border-radius: 4px;
  transition: 1s;
}
.btn:hover {
  background-color: #1f727b;
  cursor: pointer;
}
