.productList {
  border-radius: 30px;
  border: 1px solid #ccc;
  padding: 30px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.productList .listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.productList .listHeader div span {
  margin-right: 15px;
}

.productList .listHeader .btn {
  border: none;
  width: 50px;
  height: 30px;
  border-radius: 10px;
  background-color: #2196f3;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.productList .listHeader .btn:hover {
  background-color: #0e436c;
}

.interfaceMenu {
  cursor: pointer;
}

.selectAll {
  margin-right: 30px;
}
