@font-face {
  font-family: 'Pangram';
  src: url('../public/fonts/Pangram-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('../public/fonts/Pangram-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('../public/fonts/Pangram-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('../public/fonts/Pangram-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('../public/fonts/Pangram-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('../public/fonts/Pangram-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('../public/fonts/Pangram-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

:root {
  --height: 50vh;
  --width: 100%;

  /* 이삭 */
  --color-white: #f4f4f4;
  --color-white2: #e5e5e5;
  --color-brown: #936836;
  --color-beige: #faf8f3;
  --color-black1: #1b1b1b;
  --color-black2: #303631;
  --color-gray1: #8a8a8a;
  --color-gray2: #969d97;
  --color-light-gray3: #deded3;

  --color-red: orangered;
  --color-green: #09ae4f;

  --color-grey: #444444;
  --color-light-grey: #c7c7c7;
  --color-light-grey1: #939393;
  --color-light-gray2: #eff2f6;
  --color-dark-gray: #4d4d4d;
  --color-dark-gray2: #767b85;
  --color-light-blue: #ecf3fe;
  --color-blue: #6b90dc;
  --color-indigo: #36476c;
  --color-light-indigo: #d2d4de;
  --color-light-green: #ecfdf3;
  --color-dark-green: #467f68;
}

body {
  font-family: 'Pangram', 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  line-height: 1.3;
  color: var(--color-black2);
  background-color: var(--color-white);
}

.hidden {
  display: none;
}

.fah {
  font-family: 'Fahkwang', 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

a {
  text-decoration: none;
}

/* em {
  color: var(--color-brown);
} */
