:root {
  --height: 50vh;
  --width: 100%;
  --color-red: orangered;
}

.inner {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}
